@import "less/lib/bootstrap/bootstrap";
@import "less/lib/font-awesome/font-awesome";
@import "less/lib/prefixer";
@import "less/adhesion";
@import "less/share-modal.less";

/* Variables */
@brand-primary: #3D9970;

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'freight-sans-pro';
}

a {
    color: @brand-primary;
}

/* Mixins */
.center{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.wrapper {
    clear: both;
    display: table;
    width: 100vw;
    height: 100vh;

    #content {
        display: table-cell;
        width: 75vw;

        .main-content {
            padding: 50px 100px;
        }
    }

    .title {
        background: @brand-primary;
        padding: 20px;
        width:25vw;
        height: 100%;
        position: fixed;
    }

    .stuff {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    h1 {
        font-size: 52px;
        text-transform: uppercase;
        text-align: center;
        line-height: 1;
        font-weight: bold;
        margin: 0 0 @line-height-computed;
        a {
            color: white;
            text-decoration: none;
        }
    }

    h4 {
        color: #222;
        font-size: 28px;
        line-height: 32px;
        font-weight: normal;
        a {
            color: white;
        }
    }
}

.post {
    h2 {
        font-size: 48px;
        margin: 0;
    }

    font-size: 20px;
}

.soundcite-loaded {
    border-radius: 6px;
    padding: 0 5px 0 5px;
    display: inline-block;
    cursor: pointer;
    background: rgba(0,0,0,.1);
}

.soundcite-loaded:before {
    display: inline-block;
    content: "";
    vertical-align: -10%;
    margin-right: 0.25em;
}

.soundcite-loading:before {
    margin-right: 0.5em;
    font-size: 0.7em;
    position: relative;
    top: -.05em;
    height: 0.75em;
    width: 0.75em;
    border: 2px solid #000;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    -ms-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.soundcite-play:before {
    font-size: 0.9em;
    position: relative;
    top: -.05em;
    border: 0.5em solid transparent;
    border-left: 0.75em solid black;
}

.soundcite-pause:before {
    font-size: 0.9em;
    position: relative;
    top: -.05em;
    height: 1em;
    border-left: .75em double black;
    border-right: .5em solid transparent;
}